.hidden {
  display: none;
}

html,
body {
  /* min-width: 320px; */
  /* width: 100%; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  vertical-align: middle;
  /* text-align: center; */
}

/* #region reset */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
/* #endregion */

/* #region common */

/* .container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
} */

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  /* fixes from url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  /* display: flex; noflex*/
  /* flex-direction: column; */
  /* align-items: baseline; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion */

/* #region general styles */
.ws-btn {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  /* display: block; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ws-btn:hover,
.ws-btn:focus {
  background: #404bbf;
}
/* #endregion general styles */

/* #region hero */
.hero {
  padding: 72px;
  max-width: 1440px;
  min-width: 320px;
  /* fixes from url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  margin: 0 auto;
  text-align: center;
  padding: 112px 0;
}

.hero-bg {
  /* max-width: 1440px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/mob-bg.jpg);
  /* background-image: url("../images/Dark-bg.png"),
    url("../images/people-office\ 1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-text {
  width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07; /* line-height: 60px; */
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #fff;
}

.order-btn {
  min-width: 169px;
  height: 56px;
}

@media screen and (min-resolution: 2x) {
  .hero-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/mob-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
  }

  .hero-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/tab-bg.jpg);
  }

  .hero-text {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11; /* line-height: 40px; */
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #fff;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/tab-bg@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }

  .hero-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/pc-bg.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/pc-bg@2x.jpg);
  }
}
/* #endregion */

/* #region features */
section.features,
section.team,
section.portfolio {
  padding: 96px 0;
}

.feature-list,
.team-list,
.proj-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.feature-list,
.team-list {
  gap: 72px;
}

.feature-item {
  width: 100%;
  min-width: 264px;
}

.fi-wrapper {
  display: none;
}

/* .feature-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
} */

.feature-title {
  /* font-family: "Roboto", sans-serif; */
  text-align: center;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;

  line-height: 1.11; /* line-height: 40px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-desc {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  /* color: #434455; */
}
@media screen and (min-width: 768px) {
  .feature-list,
  .team-list,
  .proj-list {
    flex-direction: row;
    column-gap: 24px;
  }

  .feature-list,
  .team-list {
    row-gap: 64px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  section.features,
  section.team,
  section.portfolio {
    padding: 120px 0;
  }

  .feature-item,
  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .fi-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2; /* line-height: 24px; */
  }
  .feature-desc {
    font-weight: 400;
  }
}
/* #endregion */

/* #region team */
.team {
  background: #f4f4fd;
}

.title-text {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11; /* line-height: 40px; */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list,
.proj-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
}

.team-card {
  min-width: 264px;
  /* margin: auto; */
  /* max-width: 800px; */
  /* width: 100%; */
}

.team-card {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tc-wrapper {
  padding: 32px 0;
}

.team-photo {
  width: 264px;
  height: 260px;
}

.team-name {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.links-item {
  width: 40px;
  height: 40px;
}

.link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region portfolio */
.proj-list {
  /* display: flex;
  flex-wrap: wrap; */
  row-gap: 48px;
}

.proj-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-card {
  min-width: 288px;
  /* width: 264px; */
}

.proj-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pc-img-container {
  position: relative;
  overflow: hidden;
}

.hidden-text-desc {
  position: absolute;
  top: 0;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-card:hover .hidden-text-desc {
  transform: translateY(0%);
}

.pc-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.proj-title {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.proj-type {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .proj-card {
    /* max-width: 360px; */
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .proj-list {
    /* display: flex;
  flex-wrap: wrap; */
    row-gap: 72px;
  }
}
/* #endregion */

/* #region footer */
.text-white {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.ws-bottom-bg {
  background: #2e2f42;
}
.ws-bottom {
  /* padding: 108px 0px; */
  min-width: 320px;
}

.ws-bottom > .container {
  /* max-width: 496px; */
  /* padding: 100px 0; */
  /* margin: ; */
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: baseline;
  padding: 96px 16px;
  /* gap: 72px 24px; */
}

.logo-text-container {
  margin-right: 24px;
}

.ws-ftr {
  display: block;
  text-align: center;
}

.ws-desc {
  max-width: 264px;
}

.text-caption {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 16px;
}

.links-bg:hover,
.links-bg:focus {
  background-color: #31d0aa;
}

.sub-form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.form-input.sub-form-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  width: 264px;
  font-size: 12px;
  line-height: 2; /* line-height: 24px; */
  color: #fff;
}

.form-input.sub-form-input::placeholder {
  color: #fff;
}

.subscr-btn {
  padding: 8px 24px;
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ws-bottom > .container {
    /* min-width: 496px; */
    /* flex-direction: row; */
    align-items: baseline;
    text-align-last: left;
  }

  .ws-ftr {
    text-align: left;
  }

  .logo-text-container {
    margin-right: 24px;
  }

  .sub-form {
    flex-direction: row;
  }
}

@media screen and (max-width: 1158px) {
  .ws-bottom > .container {
    max-width: 496px;
  }

  .logo-text-container,
  .ftr-links-container {
    margin-bottom: 72px;
  }

  .sub-form-container {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .ws-bottom > .container {
    /* max-width: 496px; */
    padding: 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .ws-bottom {
    /* padding: 100px 0; */
  }
  .ws-bottom > .container {
    /* max-width: 496px; */
    padding: 100px 16px;
  }

  .logo-text-container {
    margin-right: 120px;
  }

  .ftr-links-container {
    margin-right: 80px;
  }
}
/* #endregion */

/* #region modal */
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  /* "i'm a Chara yes =)" */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition-property: visibility, opacity, pointer-events; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 72px 16px 24px;
  /* padding: 72px 24px 24px; */
}

.cbtn-block {
  width: 100%;
  /* height: 24px; */
  display: block;
  position: relative;
}

.close-btn {
  background: #e7e9fc;
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  background: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  /* stroke: #2e2f42; */
}

.close-btn:hover > .close-icon,
.close-btn:focus > .close-icon {
  fill: white;
  /* stroke: white; */
}

.fmodal {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* gap: 8px; */
}

.fheading-text {
  /* font-family: "Roboto", sans-serif; */
  width: 100%;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.fmodal-label {
  display: flex;
  align-items: center;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17; /* line-height: 14px; */
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;

  /* margin: 0; */
}

.fmi-container {
  position: relative;
}

.form-input {
  background: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;

  line-height: 1.17; /* line-height: 14px; */
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.form-input.fmi::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.fmodal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.form-input:focus + .fmodal-icon {
  fill: #4d5ae5;
  /* stroke: #4d5ae5; */
}

.multiline {
  width: 100%;
  height: 120px;
  font-size: 12px;
  resize: none;
}

.custom-cb {
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  /* stroke: #2e2f42; */
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: background, border; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cb-accept:checked + .fmodal-label > .custom-cb {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-icon {
  /* fill: #fcfcfc 
  useless class*/
}

.pp-link {
  line-height: 1.33; /* line-height: 16px; */
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
}
/* #endregion */

/* #region multipurpose */
.center {
  margin: auto;
}

.mb-hero {
  margin-bottom: 48px;
}

.fs-ml {
  margin-left: 16px;
}

.fc-mb {
  margin-bottom: 24px;
}

.fi-mb {
  margin-bottom: 16px;
}

.ti-mb {
  margin-bottom: 8px;
}

.tl-mb {
  margin-bottom: 4px;
}

.fi-pl {
  padding-left: 38px;
}

.fi-mr {
  margin-right: 8px;
}

/* #endregion */
